<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Crud de Teste</title>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

	<div id="app_crud" class="div_principal">

		<h2>{{ dto.nome }}</h2>

		<p>
			<input type="text" v-model="dto.id" placeholder="Id" />
		</p>

		<p>
			<input type="text" v-model="dto.nome" placeholder="Nome" />
		</p>


		<p>
			<input type="button" value="Salvar" @click="salvarPessoa" /> <input type="button" value="Limpar" onclick="limparCampos();" /> <input type="button"
				value="Buscar" @click="buscarPessoas" />

		</p>


		<div style="float: right;">{{ totalRegistros }} Registros</div>

		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>

				</tr>
			</thead>
			<tbody>
				<tr v-for="obj in lista">
					<td>{{ obj.id }}</td>
					<td>{{ obj.nome }} <span class="icone" @click="editarItem(obj)">&#9998;</span> <span class="icone" @click="excluirItem(obj.id)">&#10006;</span></td>

				</tr>
			</tbody>
		</table>

		<input type="hidden" v-model="initValue" />
		<div>
			<span style="cursor: pointer;" v-if="initValue > 5" @click="voltarListagem">&#8678 Anterior</span> <span style="cursor: pointer;" @click="avancarListagem"
				v-if="(initValue+10)<totalRegistros">Próximo &#8680</span>
		</div>

	</div>

	<script>
		var vm1 = new Vue({
			el : '#app_crud',
			data : {
				lista : [ {
					id : '1',
					nome : 'Teste'
				} ],
				
				dto : {id : '',
					nome : ''},
				initValue : 0,
				totalRegistros : 0
			},
	        methods: {
	          buscarPessoas: function() {
	            listarPessoasREST();
	          },
	          
	          salvarPessoa : function() {
	        	  axios.post('http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/salvar', this.dto)
	        		  .then(function (response) {
	        		    console.log(response);
	        		    listarPessoasREST();
	        		    limparCampos();
	        		  })
	        		  .catch(function (error) {
	        		    console.log(error);
	        		  });

	          },
	          editarItem : function(obj) {
	        	  this.dto = obj

	          },
	          excluirItem : function(id) {
	        	   axios.delete('http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/deletar/'+id)
	        	  	 .then(function (response) {
	        		    console.log(response);
	        		    listarPessoasREST();
	        		    limparCampos();
	        		  })
	        		  .catch(function (error) {
	        		    console.log(error);
	        		  }); 
	        	   

	          },
	          voltarListagem : function(){
	        	  this.initValue = this.initValue - 10;
	        	  listarPessoasREST();
	          },
	          avancarListagem : function(){
	        	  this.initValue = this.initValue + 10;
	        	  listarPessoasREST();
	          }
	        },
	        created: listarInicial()
		})
		
		function limparCampos(){
			vm1.dto = {id:'',nome:''};
		}
		
		function listarPessoasREST(){
			axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/listar?initValue="+vm1.initValue)
            .then(response => {console.log(response.data);vm1.lista = response.data
          	  }).catch(function (error) {
          	    console.log(error);
          	  });
			
			getTotalRegistros();
		}
		
		function listarInicial(){
			axios.defaults.headers.common['Content-Type'] = 'application/x-www-form-urlencoded';
			axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/listar")
            .then(response => {console.log(response.data);vm1.lista = response.data
          	  }).catch(function (error) {
          	    console.log(error);
          	  });
			
			getTotalRegistros();
		}
		
		
         function getTotalRegistros(){
      	  axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/total")
            .then(response => {vm1.totalRegistros = response.data
          	  }).catch(function (error) {
          	    console.log(error);
          	  });
        }
		
	</script>
</body>
</html>